body {
    background-image: url(../img/fond2.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.fondForm {
    margin-top: 5px; 
    margin: auto; 
    width: 50%; 
    text-align: center;    
    box-shadow: 2px 3px 8px grey;
}

#pokeballl {
    width: 20%;
    position: absolute;
    left: 427px;
    top: 236px;
}

#logo {
    margin-top: 20px;
    animation: scale 1s infinite alternate;
}

@keyframes scale {
    0% {transform: scale(1);}
    100% {transform: scale(1.09);}
}