
			@font-face {
				font-family: "Pixel";
				src: url('../font/PIXELADE.ttf');
			} 

			body {
				font-family: 'Pixel', sans-serif;
				text-align: center;				
			}
			form {
				background-image: url ('../img/background.png');
				background-size: cover;
			}

			h2 {
				text-decoration: underline;
				font-size: 4em;
			}

			fieldset {
				width: 50%;
				margin: auto;
       			box-shadow: 0px 1px 4px black;
				background-color: #f1f2fa;
				font-size: 3em;

			}

			.error {
				border-color: red;
				background-color: red;
			}
			
			p {
				font-size: 3em;
			}

			.tour {
				font-size: 4em;
			}

			input {
				width: 120px;
				font-size: 31px;
				padding: 5px;
			}

			button {
				width: 20%;
				font-size: 40px;
			}

			select {
				font-size: 30px;
			}

			button:hover {
				background-color: rgba(128, 128, 128, 0.15);
			}

			.ko {
				color: red;
				font-size: 5em;
				text-shadow: 2px 0px 1px;
				animation: scale 1.5s infinite alternate;
				margin: 50px auto;
				width: 50%;
			}

			.vs {
				font-size: 6em;
				border: 1px solid;
				width: 56%;
				box-shadow:2px 4px 2px grey;
				margin: 26px auto;
				padding: 14px;
				text-shadow: 2px 4px 1px rgba(128, 128, 128, 0.8);
				animation: scale 1s infinite alternate;
			}

			@keyframes scale {
				0% {transform: scale(1);}
				100% {transform: scale(1.1);}
			}

			.negative {
				color:red;
			}

			.def {
				color: blue;
			}

			.pv {
				color: rgb(102, 231, 102);
			}

			hr {
				width: 96%;
			}